<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.tailwindcss.com"></script>
    {% include 'tailwindcss/config.html' %}
    {% include 'tailwindcss/components.html' %}

    {% block css %}

    {% endblock css %}

    {% block base_title %}
    <title>Echo Vault</title>
    {% endblock base_title %}
</head>

<body>
    {% block base_content %}

    {% endblock base_content %}


    {% include 'utilities/toast.html' %}

    <script src="{{ url_for('static', filename='js/global.js') }}"></script>
    {% block js %}

    {% endblock js %}
</body>

</html>